# Java files
*.class

# Package Files #
*.jar
*.war
*.ear
target/
test-output/

# Eclipse
.classpath
.project
.settings/

logs/
resources/

testdata.properties
github-automation.iml
# Idea
.idea/
*.iml